/**********************
 * Window Decorations *
 *********************/

decoration {

  border-radius: 4px;
  border-width: 0px;

  box-shadow: 0 8px 9px 1px transparent,
              0 8px 6px 1px transparentize(black, 0.5);
              
  margin: 10px;

  &:backdrop {
    box-shadow: 0 3px 9px 1px transparent,
                0 6px 6px 0 transparentize(black, 0.7);
    transition: $backdrop_transition;
  }

  .fullscreen &,
  .tiled & { border-radius: 0; }

  .popup & { box-shadow: none; }

  // server-side decorations
  .ssd & { box-shadow: 0 0 0 1px transparentize(black,0.9);}

  .csd.popup & {
    border-radius: 0;
    box-shadow: 0 1px 2px transparentize(black, 0.8);
  }

  .solid-csd & {
    border-radius: 0;
    margin: 4px;
    background-color: $backdrop_bg_color;
    border: 0px solid $backdrop_borders_color;
    box-shadow: none;
  }
}


// header transparent (but not everywhere...) abandonned
// .background {
//   background-color: rgba(255, 255, 255, 0.999);
// }

// window>.titlebar:not(headerbar),
// window>.titlebar:not(headerbar):backdrop,
// window.csd>.titlebar:not(headerbar),
// window.csd>.titlebar:not(headerbar):backdrop {
//   padding: 0;
//   background: none;
//   border: none;
//   box-shadow: none;
// }

// .csd headerbar,
// .csd .titlebar:not(headerbar) {
//   background-color: rgba(66, 66, 66, 0.97);
// }

// headerbar:backdrop,
// .titlebar:backdrop:not(headerbar) {
//   transition: 200ms ease-out;
//   background-color: #424242;
// }

// .csd headerbar:backdrop,
// .csd .titlebar:backdrop:not(headerbar) {
//   background-color: rgba(73, 73, 73, 0.97);
// }

// headerbar.selection-mode,
// .selection-mode.titlebar:not(headerbar) {
//   background-color: rgba(104, 104, 104, 0.95);
// }

// headerbar.selection-mode:backdrop,
// .selection-mode.titlebar:backdrop:not(headerbar) {
//   background-color: rgba(97, 97, 97, 0.95);
// }











// .titlebar:not(headerbar)>separator {
//   background-image: linear-gradient(to bottom, rgba(38, 42, 51, 0.97), rgba(38, 42, 51, 0.97));
// }

// .primary-toolbar:not(.libreoffice-toolbar) separator,
// headerbar separator.titlebutton,
// .titlebar:not(headerbar) separator.titlebutton {
//   min-width: 1px;
//   min-height: 1px;
//   background: none;
//   border-width: 0 1px;
//   border-image: linear-gradient(to bottom, rgba(207, 218, 231, 0) 25%, rgba(207, 218, 231, 0.15) 25%, rgba(207, 218, 231, 0.15) 75%, rgba(207, 218, 231, 0) 75%) 0 1/0 1px stretch;
// }

// .primary-toolbar:not(.libreoffice-toolbar) separator:backdrop,
// headerbar separator.titlebutton:backdrop,
// .titlebar:not(headerbar) separator.titlebutton:backdrop {
//   opacity: 0.6;
// }

// row:selected button.flat,
// row:selected button.sidebar-button,
// infobar.info button.flat,
// infobar.info button.sidebar-button,
// infobar.question button.flat,
// infobar.question button.sidebar-button,
// infobar.warning button.flat,
// infobar.warning button.sidebar-button,
// infobar.error button.flat,
// infobar.error button.sidebar-button,
// .nautilus-window .floating-bar button.flat,
// .nautilus-window .floating-bar button.sidebar-button {
//   border-color: transparent;
//   background-color: transparent;
//   background-image: none;
//   color: #ffffff;
//   background-color: rgba(255, 255, 255, 0);
// }

// .selection-mode.primary-toolbar button:disabled,
// headerbar.selection-mode button:disabled,
// row:selected button.flat:disabled,
// row:selected button.sidebar-button:disabled,
// infobar.info button.flat:disabled,
// infobar.info button.sidebar-button:disabled,
// infobar.question button.flat:disabled,
// infobar.question button.sidebar-button:disabled,
// infobar.warning button.flat:disabled,
// infobar.warning button.sidebar-button:disabled,
// infobar.error button.flat:disabled,
// infobar.error button.sidebar-button:disabled,
// .nautilus-window .floating-bar button.flat:disabled,
// .nautilus-window .floating-bar button.sidebar-button:disabled,
// .selection-mode.primary-toolbar button:disabled label,
// headerbar.selection-mode button:disabled label,
// row:selected button.flat:disabled label,
// row:selected button.sidebar-button:disabled label,
// infobar.info button.flat:disabled label,
// infobar.info button.sidebar-button:disabled label,
// infobar.question button.flat:disabled label,
// infobar.question button.sidebar-button:disabled label,
// infobar.warning button.flat:disabled label,
// infobar.warning button.sidebar-button:disabled label,
// infobar.error button.flat:disabled label,
// infobar.error button.sidebar-button:disabled label,
// .nautilus-window .floating-bar button.flat:disabled label,
// .nautilus-window .floating-bar button.sidebar-button:disabled label {
//   color: rgba(255, 255, 255, 0.4);
// }


// GraniteWidgetsPopOver .sidebar.view,
// GraniteWidgetsPopOver iconview.sidebar,
// GraniteWidgetsPopOver * {
//   background-color: transparent;
// }

// filechooser.csd.background,
// filechooser placessidebar list,
// .nautilus-window.csd.background,
// .nautilus-window placessidebar list {
//   background-color: transparent;
// }

// filechooser placessidebar.sidebar,
// .nautilus-window placessidebar.sidebar {
//   background-color: rgba(53, 57, 69, 0.95);
// }

// filechooser placessidebar.sidebar row.sidebar-row,
// .nautilus-window placessidebar.sidebar row.sidebar-row {
//   border: none;
//   color: #BAC3CF;
// }

// filechooser placessidebar.sidebar row.sidebar-row .sidebar-icon,
// .nautilus-window placessidebar.sidebar row.sidebar-row .sidebar-icon {
//   color: rgba(186, 195, 207, 0.6);
// }

// filechooser placessidebar.sidebar row.sidebar-row.has-open-popup,
// filechooser placessidebar.sidebar row.sidebar-row:hover,
// .nautilus-window placessidebar.sidebar row.sidebar-row.has-open-popup,
// .nautilus-window placessidebar.sidebar row.sidebar-row:hover {
//   background-color: rgba(186, 195, 207, 0.15);
// }

// filechooser placessidebar.sidebar row.sidebar-row:disabled,
// filechooser placessidebar.sidebar row.sidebar-row:disabled label,
// filechooser placessidebar.sidebar row.sidebar-row:disabled image,
// .nautilus-window placessidebar.sidebar row.sidebar-row:disabled,
// .nautilus-window placessidebar.sidebar row.sidebar-row:disabled label,
// .nautilus-window placessidebar.sidebar row.sidebar-row:disabled image {
//   color: rgba(186, 195, 207, 0.4);
// }

// filechooser placessidebar.sidebar row.sidebar-row:selected.has-open-popup .sidebar-icon,
// filechooser placessidebar.sidebar row.sidebar-row:selected .sidebar-icon,
// filechooser placessidebar.sidebar row.sidebar-row:selected:hover .sidebar-icon,
// filechooser placessidebar.sidebar row.sidebar-row:active:hover .sidebar-icon,
// .nautilus-window placessidebar.sidebar row.sidebar-row:selected.has-open-popup .sidebar-icon,
// .nautilus-window placessidebar.sidebar row.sidebar-row:selected .sidebar-icon,
// .nautilus-window placessidebar.sidebar row.sidebar-row:selected:hover .sidebar-icon,
// .nautilus-window placessidebar.sidebar row.sidebar-row:active:hover .sidebar-icon {
//   color: inherit;
// }

// filechooser placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button,
// .nautilus-window placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button {
//   color: #BAC3CF;
// }

// filechooser placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:hover,
// .nautilus-window placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:hover {
//   color: #BAC3CF;
//   border-color: rgba(26, 28, 34, 0.35);
//   background-color: rgba(119, 127, 151, 0.45);
// }

// filechooser placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:active,
// .nautilus-window placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:active {
//   color: #ffffff;
//   border-color: #5294e2;
//   background-color: #5294e2;
// }

// filechooser placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:not(:hover):not(:active)>image,
// .nautilus-window placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:not(:hover):not(:active)>image {
//   opacity: 0.5;
// }

// filechooser placessidebar.sidebar row.sidebar-row.sidebar-new-bookmark-row,
// .nautilus-window placessidebar.sidebar row.sidebar-row.sidebar-new-bookmark-row {
//   color: #5294e2;
// }

// filechooser placessidebar.sidebar row.sidebar-row.sidebar-new-bookmark-row .sidebar-icon,
// .nautilus-window placessidebar.sidebar row.sidebar-row.sidebar-new-bookmark-row .sidebar-icon {
//   color: inherit;
// }

// filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled),
// filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled) label,
// filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled) .sidebar-icon,
// .nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled),
// .nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled) label,
// .nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled) .sidebar-icon {
//   color: #F08437;
// }

// filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected,
// .nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected {
//   background-color: #F08437;
// }

// filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected,
// filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected label,
// filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected .sidebar-icon,
// .nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected,
// .nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected label,
// .nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected .sidebar-icon {
//   color: #ffffff;
// }

// filechooser placessidebar.sidebar separator,
// .nautilus-window placessidebar.sidebar separator {
//   background-color: transparent;
// }

// filechooser.maximized placessidebar.sidebar,
// .nautilus-window.maximized placessidebar.sidebar {
//   background-color: #353945;
// }

// .nemo-window .sidebar {
//   color: #BAC3CF;
//   background-color: rgba(53, 57, 69, 0.95);
// }

// .nemo-window .sidebar .view,
// .nemo-window .sidebar iconview,
// .nemo-window .sidebar row {
//   background-color: transparent;
//   color: #BAC3CF;
// }

// .nemo-window .sidebar .view.cell:selected,
// .nemo-window .sidebar iconview.cell:selected,
// .nemo-window .sidebar row.cell:selected {
//   background-color: #5294e2;
//   color: #ffffff;
// }

// .nemo-window .sidebar .view.expander,
// .nemo-window .sidebar iconview.expander,
// .nemo-window .sidebar row.expander {
//   color: rgba(123, 129, 141, 0.975);
// }

// .nemo-window .sidebar .view.expander:hover,
// .nemo-window .sidebar iconview.expander:hover,
// .nemo-window .sidebar row.expander:hover {
//   color: #BAC3CF;
// }

// .nemo-window .sidebar separator {
//   background-color: transparent;
// }




